# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# TypeScript build files
dist/

# Prisma files
prisma/.env
prisma/migrations/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log*
.err

# Editor/IDE files
.vscode/
.idea/
.DS_Store

# OS-specific files
Thumbs.db

# Tests
coverage/
